RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "\.pdf$">
ForceType application/octet-stream
Header set Content-Disposition attachment
</FilesMatch>

AddType application/octet-stream .pdf