body {
  background-color: #fff2c1;
}

p {
  color: pink;
  background: yellow;
}

h1 {
  color: salmon;
}

a {
  text-decoration: none;
}

.highlight {
  background: blue;
  font-size: 20px;
  color: white;
}

.bigger {
  font-size: 40px;
}

img {
    margin: 50px;
    padding: 20px;
    border: 1px solid black;
}
