@font-face {
    font-family: 'artegra_sansblack';
    src: url('artegra_sans-900-black-webfont.woff2') format('woff2'),
         url('artegra_sans-900-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
