@font-face {
    font-family: 'artegra_sansblack';
    src: url('artegra_sans-900-black-webfont.eot');
    src: url('artegra_sans-900-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('artegra_sans-900-black-webfont.woff2') format('woff2'),
         url('artegra_sans-900-black-webfont.woff') format('woff'),
         url('artegra_sans-900-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
