*,
*::before,
*::after {
    box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: ' ';
    display: table;
}

.cf:after {
    clear: both;
}

html {
    font-size: 70%;
}

@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

body {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    font-size: 1.6rem;
    font-family: brandon-grotesque, sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    color: #f06969;
    text-decoration: none;
    transition: color .3s ease-in;
}

a:hover {
    color: #151d46;
}

p {
    font-family: 'brandon-grotesque', serif;
    font-weight: normal;
}

dt {
    font-size: 1.9rem;
    font-weight: 600;
}

dd {
    font-family: 'brandon-grotesque', serif;
    font-weight: normal;
    margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.heading-decorated {
    font-size: 2.4rem;
    text-align: center;
    margin-left: -3.6rem;
    margin-right: -3.6rem;
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

.heading-decorated::after {
    content: ' ';
    display: inline-block;
    border-top: 0.8rem solid #f28e9c;
    width: 100%;
    position: absolute;
    top: 1.4rem;
    left: 0;
    right: 0;
    z-index: -1;
}

.subheading-decorated {
    font-family: 'brandon-grotesque', serif;
    font-weight: normal;
    font-size: 1.8rem;
    color: #B3B3B3;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-style: italic;
}
