/*
  Mailchimp form styles
*/
.mailchimp-form {
  margin-bottom: 2rem
}

.mailchimp-mail,
.mailchimp-btn {
  display: block;
  width: 570px;
  margin: 0 auto;
  padding: .5rem 1rem;
  min-width: 350px;
}

.mailchimp-mail {
  margin-bottom: 1rem;
  border: 2px solid #151d46;
  color: #151d46;
}

.mailchimp-btn {
  border: 2px solid #151d46;
  background: #151d46;
  color: #fff;
  transition: background .3s ease-in,color .3s ease-in;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 570px;  
}

.mailchimp-btn:hover {
  background: #1D2A69;
}