header,
footer {
  background-color: #151d46;
  color: white;
  text-align: right;
  padding: 2.5rem;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

header ul li {
  margin: 2rem 0;
}

@media (min-width: 768px) {
  header ul li {
    display: inline-block;
    margin: 0 2rem;
  }
}

header a {
  color: white;
  font-size: 2rem;
}

.header__apply-btn {
  text-transform: uppercase;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  transition: color .3s ease-in, background .3s ease-in;
}

.header__apply-btn:hover {
  background: white;
}

.hero {
  min-height: 540px;
  text-align: center;
  text-transform: uppercase;
  background: url('../../img/hero.svg') no-repeat #f28e9c;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  
}

.hero__subheader {
}

.hero__main-info {
  background-color: #f06463;
  color: white;
  padding: 2.2rem;
  opacity: 0.8;
}

.hero__c2a-btn {
  color: white;
  background: #151d46;
  border-color: #151d46;
}

.offer-section {
  margin-bottom: 3rem;
}

.offer-item {
  margin: 2rem 0; 
}

.offer-item:nth-child(1) {

}

.offer-item:nth-child(2) {
  
}

.offer-item:nth-child(3) {
  
}

.offer-item__num,
.offer-item__head,
.offer-item__desc {
  display: block;
  text-align: center;
}

.offer-item__num {
  font-family: 'Rozha One', serif;
  color: #393b5d;
  font-size: 19rem;
  line-height: 1;
}

.offer-item__num--em {
  color: #f06969;
  opacity: 0.8;
}

.offer-item__head {
  text-transform: uppercase;
}

.offer-item__desc {
  color: #f28e9c;
}

.offer-container {
  position: relative;
}

.offer__important {
  background-color: #f27e83;
  color: white;
  text-transform: uppercase;
  padding: 0.7rem 1.3rem;
  margin: 0;
  /*transform: rotate(-90deg);*/
  text-align: right;
  position: absolute;
}

.apply {
  background: url('../../img/bkg.png') repeat #f06463;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 3.8rem 0;
}

.apply p {
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 2.2rem;
  margin: 0.5rem 0;
}

.apply__c2a {
  display: inline-block;
  padding: 0.5rem 0;
  margin-top: 3rem;
  color: white;
  font-size: 4.1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1;
  border-bottom: 2px solid white;
}

.faq__more {
  font-family: 'brandon-grotesque', sans-serif;
  text-align: center;
}

.mentors {
  margin-top: 1rem;
}

.mentor {
  position: relative;
  margin: 4rem 0;
}

.mentor::after {
  content: ' ';
  display: inline-block;
  width: 16rem;
  height: 16rem;
  border: 0.4rem solid #f06969;
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}

.mentor__photo {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  float: left;
  margin-right: 2.1rem;
}

.mentor__name {
  color: #f06969;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 1.8rem;
}

.partners {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.partners li {
  display: inline-block;
  margin: 0 2.5rem;
}

.partners a {
  display: inline-block;
  vertical-align: middle;
}

footer address {
  font-style: normal;
}

footer address a {
  color: white;
  border-bottom: 0.2rem solid white;
}

footer address a:hover {
  color: white;
}

footer small {
  text-transform: uppercase;
}