/*
  Morphing SVG toggle menu button
*/
.lines-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 768px) {
  .lines-button {
    display: none;
  }
}

.lines-button:hover {
  opacity: 1;
}

.lines-button:active {
  transition: 0;
  background: rgba(0, 0, 0, .1);
}

/* create middle line */
.lines {
  display: inline-block;
  width: 4rem;
  height: 0.5rem;
  background: white;
  transition: background .2s .3s ease;
  position: relative; 
}

/*create the upper and lower lines as pseudo-elements of the middle line*/
.lines:before, 
.lines:after {
  display: inline-block;
  width: 4rem;
  height: 0.5rem;
  background: white; 
  transition: top .2s .3s ease, transform .2s ease;
  position: absolute;
  left:0;
  content: '';
  transform-origin: 50% 50%;
}

.lines:before { 
  top: 1.3rem;
}

.lines:after { 
  top: -1.3rem; 
}

.lines-button.js-close .lines {
  transition: background .2s 0s ease;
  background: transparent;
}

.lines-button.js-close .lines:before, 
.lines-button.js-close .lines:after {
  transition: top .3s ease, transform .2s .3s ease;   
  top: 0;
  width: 4rem;
}

.lines-button.js-close .lines:before {
  transform: rotate3d(0, 0, 1, 45deg); 
}

.lines-button.js-close .lines:after {
  transform: rotate3d(0, 0, 1, -45deg); 
}

@media (max-width: 768px) {
  .js-menu {
    display: none;
  }
}