@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&subset=latin-ext');
@import url('../fonts/stylesheet.css');


* {
  font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #0f1942;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: block;
}

p {
    font-size: 0.9rem;
    line-height: 180%;
    letter-spacing: 0.2px;
}

h1,
h2,
h3,
h4 {
    font-family: 'artegra_sansblack', sans-serif;
    line-height: 150%;
}

h1 {
  font-size: 5.71rem;
}

h2 {
  font-size: 2rem;
}

nav {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 20;
}

nav ul {
    margin: 0;
    color: #fff;
    list-style: none;
    padding: 10px 50px;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
}

nav ul li a.tutorial-link {
  background: #0f1942;
  color: #fff;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  padding: 10px;
}

nav ul li a.tutorial-link:hover {
  color: #0f1942;
  background: transparent;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-media-icons img {
  height: 30px;
}

.social-media-icons {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  padding: 30px 50px;
}

p {
    font-size: 0.9rem;
}

section {
   padding: 30px 50px;
}

img {
  max-width: 100%;
}

img.logo {
    width: 400px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

p.info {
    font-size: 0.7rem;
    letter-spacing: 1px;
    line-height: 160%;
    color: #0e1943;
    text-align: center;
    text-transform: lowercase;
    margin-top: 40px;
}

p.image-caption {
    font-size: 0.7rem;
    text-align: right;
}

video {
    width: 100%;
    margin-top: 40px;
}

h2.typing-heading {
    text-align: center;
    position: absolute;
    font-size: 5.71rem;
    z-index: 10;
    margin-top: 330px;
}

.typing {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-family: 'artegra_sansblack', sans-serif;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

a.btn {
    border: 0;
    padding: 8px 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px 0 40px 0;
    font-size: 0.7rem;
    display: inline-block;
    border: 3px solid #ff92ad;
    color: #0f1942;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

a.btn:hover {
    background: #ff92ad;
    color: #fff;
}

section.mission {
    background: #ffecf2;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 60px;
}

section.mission img {
  margin-top: 20px;
}

section.tutorial h2 {
  margin-bottom: 0px;
}

section.tutorial img{
  margin-top: 20px;
}

.text-rotated {
    position: fixed;
    transform: rotate(90deg);
    right: -170px;
    bottom: 180px;
    font-size: 1.7rem;
    z-index: 10;
    letter-spacing: 1px;
    font-weight: bold;
}

.larger-padding {
  padding-right: 50px;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media all and (max-width: 1100px) {
  nav ul {
    padding: 10px 0;
  }

  h2.typing-heading {
    font-size: 4.5rem;
    margin-top: 450px;
  }
}


@media all and (max-width: 500px) {
  nav ul {
    padding: 10px 0;
  }

  a.btn {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .larger-padding {
    padding: 0;
  }

  section.mission {
    margin-top: 20px;
  }

  h2.typing-heading {
    position: static;
    font-size: 1.4rem;
    margin-top: 20px;
    width: 100%;

  }
}
